<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    
  {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  
  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="./script.js"></script>
  <link rel="stylesheet" href="./styles.css">
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="https://github.com/epfl-ada/ada-2022-project-strauss" class="btn">Project github</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="https://aprakyk.github.io/ada-strauss-website/Homepage" class="btn">Home</a>
        <a href="https://aprakyk.github.io/ada-strauss-website/story" class="btn">Data story</a>
        <a href="https://aprakyk.github.io/ada-strauss-website/thanks" class="btn">Acknowledgment  & Credentials</a>
        <a href="https://aprakyk.github.io/ada-strauss-website/team" class="btn">Team</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      

      <p align="center">
        <img width="500" src="assets/img/toxic_behaviour.png" >
      </p>
      <p align="center">
        <a href="https://www.pinterest.fr/pin/551761391849970879/">Source</a>
      </p>

      
      <h3>Why do we focus on extreme communities? </h3>
      <p>Some extreme communities are well known for making toxic comments. Taking Trump for example:</p>
      <p align="center">
        <img width="500" src="assets/img/trump.png" >
      </p>
      <p align="center">
        <a href="https://twitter.com/realDonaldTrump/status/332308211321425920">Twitter</a>
      </p>
      
      
      
      <p>But how toxic is that tweet? Thankfully, we’re using a Machine Learning model called 
        <a href="https://github.com/unitaryai/detoxify">Detoxify</a>
         to compute how toxic a sentence is and how severe-toxic, obscene, threatening, sexually explicit, 
         identity attacking  and threatening it is. It rates it on a scale from 0 to 1 (0 not at all, 1 very). <br>
         To get an idea, a comment is considered to have a toxic score of 1 if if it is a very <i>‘hateful, 
          aggressive, or disrespectful that is very likely to make you leave a discussion or give up on sharing 
          your perspective’</i>. <br>
        For example Trump’s tweet had a score of :
        </p>
        <table class="tb" id="members">
          <tr>
            <th>Toxicity</th>
            <th>Severe toxicity</th>
            <th>Obscene</th>
            <th>Identity attack</th>
            <th>Insult</th>
            <th>Threat</th>
            <th>Sexual explicit</th>
          </tr>
          <tr>
            <th>0.994145</th>
            <th>0.000296</th>
            <th>0.004636</th>
            <th>0.005744</th>
            <th>0.988292</th>
            <th>0.000275</th>
            <th>0.000622</th>
          </tr>
        </table>
        
        <p>It has a toxicity of ~0.994 and is very insulting (insult~0.988). <br>
        To get a better idea of what toxicity score is associated with what type of sentence, we're introducing the monkey scale:</p>
      
          <div class="chartMenu">
          </div>
          <div class="chartCard">
            <div class="chartBox">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
          // setup 
          const data = {
            labels: ['The monkey makes jokes', 'The mean monkey makes means jokes about means', 'The annoying monkey makes annoying jokes about means',
      'The vile monkey makes vile jokes about means', 'The malevolent monkey makes malevolent jokes about means', 
      'The nasty monkey makes nasty jokes about means', 'The despicable monkey makes despicable jokes about means', 
      'The bastard monkey makes bastard jokes about means'],
            datasets: [{
              label: 'Toxicity',
              data: [0.080424, 0.158876, 0.197954, 0.319232, 0.462587, 0.615834, 0.707401, 0.995640],
              backgroundColor: ['rgba(255, 26, 104, 0.2)',],
              borderColor: ['rgba(255, 26, 104, 1)',],
              borderWidth: 1
            }]
          };
          // config 
          const config = {
            type: 'bar',

            data,

            options: {
              plugins : {
                legend : {
                  display : false
                }
              },

            scales: {
              y: {
                beginAtZero: true,
                scaleLabel: {
                  display: true,
                  labelString: 'toxicity'
                }
              }
            }
            }
          };
          
          // render init block
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
      
      </script>
      <p>Therefore we wondered if being toxic was one of the characteristic features of extreme communities. 
        Just as in the study <a href="https://dlab.epfl.ch/people/west/pub/HortaRibeiro-Ottoni-West-Almeida-Meira_FAT-20.pdf">“Auditing Radicalization Pathways on Youtube”</a>
        , by Ribeiro et al. (2020), 
        we decided to study the extreme communities <b>‘Alt-right’</b>,<b>‘Alt-left’</b> and <b>‘Intellectual Dark Web’</b>  
        aka I.D.W and use medias as our control group. <br>
        And hopefully twitter isn't the only place where you can be toxic, there is also the </p>
        <p align="center" style="color :rgb(240, 11, 145); ">
          Wonderful &#10024 <i>Comment section</i> &#10024 of youtube videos.
        </p>

      <h3>Key words</h3>

      <p>In this section, we'll use the terms :</p>
      <ul>
        <li> <b>toxic category</b> :  refers to the term toxicity or <i>severe_toxicity</i>, <i>obscene</i>, <i>identity_attack</i>…</li>
        <li> <b> toxic score array of a comment</b> :  its array output by <i>detoxify</i> through all toxic categories. 
        </li>
        <li> <b>toxic category score</b> :  the value output by <i>detoxify</i> for this toxic category </li>
        <li> <b>groups</b> :  refers to the 3 extreme communities <i>Alt-lite</i>, <i>Alt-right</i>, <i>IDW</i> and the control group
        </li>
      </ul>  

      <p>To study how toxic the comment section associated with a video is, we computed the <i>toxic_score_array</i>
      of each comment on that video and took their mean category wise. This way, 
      we defined the <i>toxic_score_array</i> of a video. Then we wondered how toxic the comment section of a video 
      associated with an extreme community is . </p>

      <h3>How does the toxic score array of a video associated with an extreme community compare to the one of a video associated with a media? </h3>
      
      <p>When we superimpose the distribution of a toxic category score in an extreme community with 
        the one in the control group, the one associated with the extreme community does seem to have a 
        higher score than the control group. Although on a general basis this score is small. Indeed, for 
        the toxic category <b>‘toxicity’</b> we see that in the extreme communities, the proportion of videos 
        having a high toxicity score is higher than the one of the control group. <br>
        But this toxicity is small as they all reach their peak around 0.2 (on the monkey scale, 
        it would be saying <i>“the annoying monkey made annoying jokes about means”</i>). </p>

      <div id="identity_attack"><center><iframe src="assets/graph/Each_cat_tox/identity_attack.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>
      
      <div id="insult"><center><iframe src="assets/graph/Each_cat_tox/insult.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>

      <div id="obscene"><center><iframe src="assets/graph/Each_cat_tox/obscene.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div> 
        
      <div id="severe_toxicity"><center><iframe src="assets/graph/Each_cat_tox/severe_toxicity.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>
      
      <div id="sexual_explicit"><center><iframe src="assets/graph/Each_cat_tox/sexual_explicit.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>
      
      <div id="threat"><center><iframe src="assets/graph/Each_cat_tox/threat.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>

      <div id="toxicity"><center><iframe src="assets/graph/Each_cat_tox/toxicity.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div> 
    
      <script>
      jQuery.get("../assets/graph/Each_cat_tox/identity_attack.html").then(function(html){
      document.body.innerHTML = html;
      });
      </script>



      <label for="toxicity-select">Choose a toxicity:</label>
      <select name="toxicity" id="toxicity-select">
          <option value="">Identity attack</option>
          <option value="insult">Insult</option>
          <option value="obscene">Obscene</option>
      </select>
      
      <img id="graphique-1" src="assets/img/profilAriane.png" />
      
      <script>
          const selectEl = document.getElementById("toxicity-select");
          selectEl.addEventListener("change", (ev) => {
          switch (selectEl.value) {
              case "insult":
              <div id="insult"><center><iframe src="../assets/graph/Each_cat_tox/insult.html" height = "500", 
               width = "1000" frameBorder="0"> </iframe></center></div>
              break;
              case "obscene":
              <div id="obscene"><center><iframe src="../assets/graph/Each_cat_tox/obscene.html" height = "500", 
              width = "1000" frameBorder="0"> </iframe></center></div>              
              break;
              default:
              <div id="identity_attack"><center><iframe src="../assets/graph/Each_cat_tox/identity_attack.html" height = "500", 
              width = "1000" frameBorder="0"> </iframe></center></div>              
              break;
          }
          })
      </script>
      
      
      
      
      
      
      
      
      
      <h2>BROUILLON : IGNORE</h2>
          <label for="select_image">Select an image</label>
          <select name="image-select" id="image-select">
            <option value="graph1">graph1</option>
            <option value="graph2">graph2</option>
            <option value="graph3">graph3</option>
            <option value="graph4">graph4</option>
            <option value="graph5">graph5</option>
            <option value="graph6">graph6</option>
          </select>
          <label for="graph_input_1">Option 1</label>
          <input id="graph_input_1" type="checkbox" checked>
          <label for="graph_input_2">Option 2</label>
          <input id="graph_input_2" type="checkbox" checked>
          <label for="graph_input_3">Option 3</label>
          <input id="graph_input_3" type="checkbox" checked>
          <label for="graph_input_4">Option 4</label>
          <input id="graph_input_4" type="checkbox" checked>
          <img id="graphique-1" src="../assets/img/profilAriane.png" />
          <script>
            const selectEl = document.getElementById("image-select");
            selectEl.addEventListener("change", updateImage);
            document.getElementById("graph_input_1").addEventListener("change", updateImage)
            document.getElementById("graph_input_2").addEventListener("change", updateImage)
            document.getElementById("graph_input_3").addEventListener("change", updateImage)
            document.getElementById("graph_input_4").addEventListener("change", updateImage)
            function updateImage() {
              const noGraphique = parseInt(selectEl.value[5]);
              const checked1 = document.getElementById("graph_input_1").checked ? "1" : "0";
              const checked2 = document.getElementById("graph_input_2").checked ? "1" : "0";
              const checked3 = document.getElementById("graph_input_3").checked ? "1" : "0";
              const checked4 = document.getElementById("graph_input_4").checked ? "1" : "0";
              console.log(`../assets/img/graphique-${noGraphique}-${checked1}${checked2}${checked3}${checked4}.png`);
              // graphique-3-0110.png
              document.getElementById("graphique-1").src = `../assets/img/graphique-${noGraphique}-${checked1}${checked2}${checked3}${checked4}.png`
            } 
          </script>
        <p>Graph</p>
        <script>
          var xValues = [100,200,300,400,500,600,700,800,900,1000];
          new Chart("myChart", {
            type: "line",
            data: {
              labels: xValues,
              datasets: 
              [
                { 
                data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                borderColor: "red",
                fill: false
                }, 
                { 
                data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                borderColor: "green",
                fill: false
                }, 
                { 
                data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                borderColor: "blue",
                fill: false
                }
              ]
            },
            options: {
              legend: {display: false}
            }
          });
        </script>
        
        <p>Chart</p> 
          <div class="chartMenu">
            <p>Hello</p>
          </div>
          <div class="chartCard">
            <div class="chartBox">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
          // setup 
          const data = {
            labels: ['The monkey makes jokes', 'The mean monkey makes means jokes about means', 'The annoying monkey makes annoying jokes about means',
      'The vile monkey makes vile jokes about means', 'The malevolent monkey makes malevolent jokes about means', 
      'The nasty monkey makes nasty jokes about means', 'The despicable monkey makes despicable jokes about means', 
      'The bastard monkey makes bastard jokes about means'],
            datasets: [{
              label: 'Toxicity',
              data: [0.080424, 0.158876, 0.197954, 0.319232, 0.462587, 0.615834, 0.707401, 0.995640],
              backgroundColor: ['rgba(255, 26, 104, 0.2)',],
              borderColor: ['rgba(255, 26, 104, 1)',],
              borderWidth: 1
            },{
              label: 'Severe toxicity',
              data: [0.000012, 0.000014 , 0.000018, 0.000017, 0.000031, 0.000024, 0.000016, 0.032880],
              backgroundColor: ['rgba(255, 26, 104, 0.2)',],
              borderColor: ['rgba(255, 26, 104, 1)',],
              borderWidth: 1
            }]
          };
          // config 
          const config = {
            type: 'bar',
            data,
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          };
          
          // render init block
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
          </script>
          
      <div id="divpage"><center><iframe src="assets/graph/Each_cat_tox/identity_attack.html" height = "500", 
        width = "1000" frameBorder="0"> </iframe></center></div>

    </main>
  </body>


</html>
