<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="https://github.com/epfl-ada/ada-2022-project-strauss" class="btn">Project github</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="https://aprakyk.github.io/ada-strauss-website/Homepage" class="btn">Home</a>
    <a href="https://aprakyk.github.io/ada-strauss-website/story" class="btn">Data story</a>
    <a href="https://aprakyk.github.io/ada-strauss-website/thanks" class="btn">Thanks & Credentials</a>
    <a href="https://aprakyk.github.io/ada-strauss-website/team" class="btn">Team</a>
    {% endif %}
  </header>

  <main id="content" class="main-content" role="main">
    <label for="select_image">Select an image</label>
    <select name="image-select" id="image-select">
      <option value="graph1">graph1</option>
      <option value="graph2">graph2</option>
      <option value="graph3">graph3</option>
      <option value="graph4">graph4</option>
      <option value="graph5">graph5</option>
      <option value="graph6">graph6</option>
    </select>

    <label for="graph_input_1">Option 1</label>
    <input id="graph_input_1" type="checkbox" checked>
    <label for="graph_input_2">Option 2</label>
    <input id="graph_input_2" type="checkbox" checked>
    <label for="graph_input_3">Option 3</label>
    <input id="graph_input_3" type="checkbox" checked>
    <label for="graph_input_4">Option 4</label>
    <input id="graph_input_4" type="checkbox" checked>

    <img id="graphique-1" src="../assets/img/profilAriane.png" />

    <script>
      const selectEl = document.getElementById("image-select");
      selectEl.addEventListener("change", updateImage);
      document.getElementById("graph_input_1").addEventListener("change", updateImage)
      document.getElementById("graph_input_2").addEventListener("change", updateImage)
      document.getElementById("graph_input_3").addEventListener("change", updateImage)
      document.getElementById("graph_input_4").addEventListener("change", updateImage)

      function updateImage() {
        const noGraphique = parseInt(selectEl.value[5]);

        const checked1 = document.getElementById("graph_input_1").checked ? "1" : "0";
        const checked2 = document.getElementById("graph_input_2").checked ? "1" : "0";
        const checked3 = document.getElementById("graph_input_3").checked ? "1" : "0";
        const checked4 = document.getElementById("graph_input_4").checked ? "1" : "0";

        console.log(`../assets/img/graphique-${noGraphique}-${checked1}${checked2}${checked3}${checked4}.png`);

        // graphique-3-0110.png
        document.getElementById("graphique-1").src = `../assets/img/graphique-${noGraphique}-${checked1}${checked2}${checked3}${checked4}.png`
      } 
    </script>


    <div class="chartMenu">
      <p>Hello</p>
    </div>
    <div class="chartCard">
      <div class="chartLine">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    // setup 
    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
        label: 'Weekly Sales',
        data: [18, 12, 6, 9, 12, 3, 9],
        backgroundColor: ['rgba(255, 26, 104, 0.2)',],
        borderColor: ['rgba(255, 26, 104, 1)',],
        borderWidth: 1
      },{
        label: 'hey',
        data: [28, 22, 15, 9, 16, 3, 4],
        backgroundColor: ['rgba(255, 26, 104, 0.2)',],
        borderColor: ['rgba(255, 255, 104, 1)',],
        borderWidth: 1
      }]
    };

    // config 
    const config = {
      type: 'line',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    
    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    </script>
    
  </main>
</body>

</html>